#contact_tit{
	color: blue; font-weight: 900
}
p{
	margin: 0;
}
.float_left{
	float: left;
}
#contact_r{
	float: left; margin-left: 30px; text-align: left;
}
#contact{
	margin-top: 20px;
}
#footer{
	width: 100%; margin-top: 17px
}
#btn_back{
	float: left;
}
#btn_next{
	float: left; margin-left: 2px
}
body{
	
	text-align: center;
}
#bcontent{
	width: 80%;
	display: inline-block;
}
#hcontent{
	background-image: url("/blog2/public/img/BG- BODY.PNG");
}
#header{
	width: 80%;
	display: inline-block;
}
#hlogo{
	text-align: left;
}
#hsearch{
	text-align: right;
}
#hmenubar{
	margin-top: 10px;
	color: #fff;
	background: #FF1717;
}
.hmcell{
	background-image: linear-gradient(#2A3CAE, #01169E);
	list-style-type: none;
	width: 12.4%;
	height: 30px;
	color: #fff;
	padding-top: 6px;
	float: left;
	border-style: solid;
	border-width: 0 1px 0 0;
	border-color: #000;
	margin-bottom: 3px;
}
#htchome{
	background-color: #FF1717;
	list-style-type: none;
	width: 12.4%;
	height: 30px;
	color: #fff;
	padding-top: 6px;
	float: left;
	border-style: solid;
	border-width: 0 0 0 0px;
	border-color: #000;
}
.bmcell{
	height: 30px;
	background-image: linear-gradient(#2A3CAE, #01169E);
	border-style: solid;
  	border-width: 0px 0px 3px 0px;
  	border-color: red;
  	color: #fff;
  	text-align: left;
  	padding-left: 10px;
}
.bmcell_sub{
	color: #0E40C9;
	height: 30px;
	text-align: left;
	font-weight: 600;
	padding-left: 10px;
	list-style-type: disc;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #60A4D2;
	list-style-image: url("/blog2/public/img/icon-bg.png");
    list-style-position: outside;
    padding-top: 7px;
}
.bmcell_sub3{
	color: #0E40C9;
	
	text-align: left;
	font-weight: 600;
	padding-left: 10px;
	list-style-type: disc;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #60A4D2;
	list-style-image: url("/blog2/public/img/icon-bg 2.PNG");
    list-style-position: outside;
    padding-top: 8px;
}
.bmcell_l{
	height: 30px;
	background-image: linear-gradient(#2A3CAE, #01169E);
	border-style: solid;
  	border-width: 0px 0px 3px 0px;
  	border-color: red;
  	color: #fff;
  	text-align: left;
  	padding-left: 10px;
  	list-style-type: none;
  	list-style-image: url('/blog2/public/img/icon.png');
  	padding-top: 7px;
  	margin-top: 7px;
}
.bmcell_r{
	height: 30px;
	background-image: linear-gradient(#A4C2D6, #60A4D2);
  	color: #fff;
  	text-align: left;
  	padding-top: 7px;

}
.bmcell_r_sub{
	padding: 10px; margin: 20px 0;float: left;
}
#bodyl{
	width: 30%;
	float: left;
}
#bodyr{
	width: 68%;
	float: left;
	margin-top: 7px;
	margin-left: 2%;
}
a{
	text-decoration: none;
	color: blue
}
a:hover{
    color: red;
    text-decoration: none;
}
.fcell{
	background-image: linear-gradient(#2A3CAE, #01169E);
	list-style-type: none;
	width: 12.4%;
	height: 30px;
	color: #fff;
	padding-top: 7px;
	float: left;
	border-style: solid;
	border-width: 0 0 0 1px;
	border-color: #000;
}
#hbanner{
	width: 100%; height: 311px; background-image: url('/blog2/public/img/banner.PNG'); background-size: cover; background-position: center;
}
#btn_search{
	height: 28px; color: #fff; padding: 0 10px;margin: 0;background-image: linear-gradient(#022F83, #193FA8); border-width: 0
}
#sup_ol{
	border-width: 1px; border-style: solid;border-color: #3B8ECE
}
.sup_p{
	margin: 5px
}
.b_contentr{
	float: left; border-width: 1px; border-style: solid; border-color: #3B8ECE;
	    padding-bottom: 20px
}
.btn_view{
	background:#35659F; color: #fff; height: 26px; display: inline-block; float: right; width: 70px
}
#bmcell_r_img1{
	width: 203px; height: 130px; float: left; background-image: url('/blog2/public/img/image1.PNG'); background-size: cover; background-position: center;
}
#bmcell_r_img2{
	width: 203px; height: 130px; float: left; background-image: url('/blog2/public/img/image2.PNG'); background-size: cover; background-position: center;
}
#bmcell_r_img4{
	width: 203px; height: 130px; float: left; background-image: url('/blog2/public/img/image4.PNG'); background-size: cover; background-position: center;
}
#bmcell_r_img5{
	width: 203px; height: 130px; float: left; background-image: url('/blog2/public/img/image5.PNG'); background-size: cover; background-position: center;
}
#for_float{
	clear: both;
}
.bmcell_r_con{
	float: left; margin-left: 20px; width: 60%;
}
.bmcell_r_con_tit{
	margin: 0px;text-align: left; color: #0726DA;
}
.bmcell_r_con_p{
	margin: 0px; text-align: left;
}
#h_menu{
	background-color: #FF1717;
}
hr{
	width: 96%;
}
.btn_page{
	width: 29px; height: 33px;float: left; margin-left: 2px;
}
#select_page{
	width: 160px; margin-left: 37%;
}